* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: arial;
  color: white;
  background-color: #1e2337;
}

h1,
#titre {
  font-size: 4rem;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#formulaire {
  width: 50%;
  background-color: white;
  color: grey;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 45px;
}

.form-item {
  margin-bottom: 3rem;
}

.form-item label {
  display: block;
  margin-bottom: 10px;
  font-size: 2rem;
}

.form-item input,
textarea {
  padding: 1rem;
  width: 100%;
  color: grey;
  font-size: 2rem;
}

textarea {
  height: 200px;
  font-family: inherit; /* Annule la police par défaut de textarea */
  resize: none; /* Empêcher d'étirer le champ */
}

#btn {
  background-color: orange;
  color: #1e2337;
  border: none;
  padding: 2rem;
  width: 100%;
  margin-top: 2rem;
  font-weight: 900;
  text-transform: uppercase;
}

.error {
  margin-top: 5px;
  color: red;
}

.invisible {
  display: none;
}
